# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [84]:
#Dependencies and Setup
import pandas as pd
import numpy as np
import sqlite3

#loading data from python.db database
con = sqlite3.connect('data/python.db')

# Read 'school' and 'student' tables into pandas dataframe
school_data = pd.read_sql_query('SELECT * FROM school', con)
student_data = pd.read_sql_query('SELECT * FROM student', con)

print(school_data)
print(student_data)

    id  School ID            school_name      type  size   budget
0    0          0      Huang High School  District  2917  1910635
1    1          1   Figueroa High School  District  2949  1884411
2    2          2    Shelton High School   Charter  1761  1056600
3    3          3  Hernandez High School  District  4635  3022020
4    4          4    Griffin High School   Charter  1468   917500
5    5          5     Wilson High School   Charter  2283  1319574
6    6          6    Cabrera High School   Charter  1858  1081356
7    7          7     Bailey High School  District  4976  3124928
8    8          8     Holden High School   Charter   427   248087
9    9          9       Pena High School   Charter   962   585858
10  10         10     Wright High School   Charter  1800  1049400
11  11         11  Rodriguez High School  District  3999  2547363
12  12         12    Johnson High School  District  4761  3094650
13  13         13       Ford High School  District  2739  1763916
14  14         14     Thomas High School   Charter  1635  1043130
          id  Student ID       student_name gender grade         school_name  \
0          0           0       Paul Bradley      M   9th   Huang High School
1          1           1       Victor Smith      M  12th   Huang High School
2          2           2    Kevin Rodriguez      M  12th   Huang High School
3          3           3  Dr. Richard Scott      M  12th   Huang High School
4          4           4         Bonnie Ray      F   9th   Huang High School
...      ...         ...                ...    ...   ...                 ...
39165  39165       39165       Donna Howard      F  12th  Thomas High School
39166  39166       39166          Dawn Bell      F  10th  Thomas High School
39167  39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168  39168       39168       Desiree Kidd      F  10th  Thomas High School
39169  39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 8 columns]

In [94]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,id_x,Student ID,student_name,gender,grade,school_name,reading_score,math_score,id_y,School ID,type,size,budget,Category
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,0,District,2917,1910635,Charter (>2740)
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,0,District,2917,1910635,Charter (>2740)
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,0,District,2917,1910635,Charter (>2740)
3,3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,0,District,2917,1910635,Charter (>2740)
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,0,District,2917,1910635,Charter (>2740)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [16]:
# Create a District Summary

In [18]:
# Total number of schools
school_data['school_name'].count()

15

In [20]:
# Total number of students
total_students=student_data['student_name'].count()
print(total_students)

39170

In [22]:
# Total budget

total_budget=school_data['budget'].sum()
print(total_budget)

24649428

In [24]:
# Average math score

math_avg=student_data['math_score'].mean()
print(math_avg)

78.98537145774827

In [26]:
# Average reading score

read_avg=student_data['reading_score'].mean()
print(read_avg)

81.87784018381414

In [28]:
# Overall average score

overall_avg=(math_avg + read_avg) / 2
print(overall_avg)

80.43160582078121

In [30]:
# Percentage of passing math (70 or greater)
hi=(student_data['math_score']>=70).sum()
#print(hi)

pass_math=(hi/total_students)*100
print(pass_math)

74.9808526933878

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [36]:
#  Sort and display the top five schools in overall passing rate
student_data['overall_passing'] = (student_data['reading_score'] >= 70) & (student_data['math_score'] >= 70) #add new column

passingrate_eachschool = student_data.groupby('school_name')['overall_passing'].mean()

top_5 = passingrate_eachschool.sort_values().head()

print(top_5)

school_name
Rodriguez High School    0.529882
Figueroa High School     0.532045
Huang High School        0.535139
Hernandez High School    0.535275
Johnson High School      0.535392
Name: overall_passing, dtype: float64

In [38]:
# Calculate total school budget
total_budget_eachschool = school_data.groupby('school_name')['budget'].sum()

print(total_budget_eachschool)

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [40]:
# Calculate per student budget

merge=student_data.merge(school_data, 
           how='inner', 
           on='school_name')
#print(merge)

number_of_students_eachschool=merge.groupby('school_name').size()
print(number_of_students_eachschool)


#add newcolumn for budget each student
merge['budget_per_student']=total_budget/total_students



show_budget_eachstudent = merge.groupby('student_name')['budget_per_student'].sum()
print(show_budget_eachstudent)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64
student_name
Aaron Acosta       629.293541
Aaron Aguilar      629.293541
Aaron Anderson     629.293541
Aaron Atkinson     629.293541
Aaron Bailey       629.293541
                     ...
Zoe Hawkins       1258.587082
Zoe Henry          629.293541
Zoe Mayer          629.293541
Zoe Mcmillan       629.293541
Zoe Meyer          629.293541
Name: budget_per_student, Length: 32715, dtype: float64

In [42]:
# Calcuate the avg math and reading score
avg_math_read = merge.groupby('school_name')[['math_score', 'reading_score']].mean()

print(avg_math_read)

                       math_score  reading_score
school_name
Bailey High School      77.048432      81.033963
Cabrera High School     83.061895      83.975780
Figueroa High School    76.711767      81.158020
Ford High School        77.102592      80.746258
Griffin High School     83.351499      83.816757
Hernandez High School   77.289752      80.934412
Holden High School      83.803279      83.814988
Huang High School       76.629414      81.182722
Johnson High School     77.072464      80.966394
Pena High School        83.839917      84.044699
Rodriguez High School   76.842711      80.744686
Shelton High School     83.359455      83.725724
Thomas High School      83.418349      83.848930
Wilson High School      83.274201      83.989488
Wright High School      83.682222      83.955000

#### Find the passing rate for math and reading (above 70 points)

In [45]:
# Find the total counts of math result
total_math_count = merge['math_score'].count()
print(total_math_count)

# Find the counts for math result in each school that pass 70 or higher

passed_math = merge[merge['math_score'] >= 70]

passed_math_counts = passed_math.groupby('school_name').size()
print(passed_math_counts)

# Calculate the math passing rate
total_math_counts_each_school = merge.groupby('school_name').size()

passed_math_rate = (passed_math_counts / total_math_counts_each_school) * 100

print(passed_math_rate)

39170
school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64
school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [47]:
# Find the total counts of read result
total_reading_count = merge['reading_score'].count()
print(total_reading_count)

# Find the counts for read result in each school that pass 70 or higher
passed_reading = merge[merge['reading_score'] >= 70]

passed_reading_counts = passed_reading.groupby('school_name').size()
print(passed_reading_counts)

# Calculate the read passing rate
total_reading_counts_each_school = merge.groupby('school_name').size()

passed_reading_rate = (passed_reading_counts / total_reading_counts_each_school) * 100

print(passed_reading_rate)

39170
school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64
school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [49]:
# Calculate the overall passing rate (average of the math and reading passing rate)

overall_passing_rate = (passed_math_rate + passed_reading_rate) / 2
print(overall_passing_rate)

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [56]:
#  Sort and display the worst five schools in overall passing rate

student_data['overall_passing'] = (student_data['reading_score'] < 70) & (student_data['math_score'] < 70) #add new column

passingrate_eachschool = student_data.groupby('school_name')['overall_passing'].mean()

bottom_5 = passingrate_eachschool.sort_values().head()

print(bottom_5)

school_name
Pena High School       0.000000
Griffin High School    0.000681
Cabrera High School    0.001615
Shelton High School    0.001704
Wilson High School     0.001752
Name: overall_passing, dtype: float64

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [60]:
# Create table that lists the average math score for each school of each grade level.
average_math_score_by_grade = merge.groupby(['school_name', 'grade'])['math_score'].mean()
print(average_math_score_by_grade)

school_name            grade
Bailey High School     10th     76.996772
                       11th     77.515588
                       12th     76.492218
                       9th      77.083676
Cabrera High School    10th     83.154506
                       11th     82.765560
                       12th     83.277487
                       9th      83.094697
Figueroa High School   10th     76.539974
                       11th     76.884344
                       12th     77.151369
                       9th      76.403037
Ford High School       10th     77.672316
                       11th     76.918058
                       12th     76.179963
                       9th      77.361345
Griffin High School    10th     84.229064
                       11th     83.842105
                       12th     83.356164
                       9th      82.044010
Hernandez High School  10th     77.337408
                       11th     77.136029
                       12th     77.186567
                       9th      77.438495
Holden High School     10th     83.429825
                       11th     85.000000
                       12th     82.855422
                       9th      83.787402
Huang High School      10th     75.908735
                       11th     76.446602
                       12th     77.225641
                       9th      77.027251
Johnson High School    10th     76.691117
                       11th     77.491653
                       12th     76.863248
                       9th      77.187857
Pena High School       10th     83.372000
                       11th     84.328125
                       12th     84.121547
                       9th      83.625455
Rodriguez High School  10th     76.612500
                       11th     76.395626
                       12th     77.690748
                       9th      76.859966
Shelton High School    10th     82.917411
                       11th     83.383495
                       12th     83.778976
                       9th      83.420755
Thomas High School     10th     83.087886
                       11th     83.498795
                       12th     83.497041
                       9th      83.590022
Wilson High School     10th     83.724422
                       11th     83.195326
                       12th     83.035794
                       9th      83.085578
Wright High School     10th     84.010288
                       11th     83.836782
                       12th     83.644986
                       9th      83.264706
Name: math_score, dtype: float64

In [62]:
# Calculate the average math score for 9th grade in each school

average_math_score_9th_grade = merge[merge['grade'] == '9th'].groupby('school_name')['math_score'].mean()

print(average_math_score_9th_grade)

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [54]:
# Calculate the average math score for 10th grade in each school
average_math_score_10th_grade = merge[merge['grade'] == '10th'].groupby('school_name')['math_score'].mean()

print(average_math_score_10th_grade)

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [56]:
# Calculate the average math score for 11th grade in each school

average_math_score_11th_grade = merge[merge['grade'] == '11th'].groupby('school_name')['math_score'].mean()

print(average_math_score_11th_grade)

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [58]:
# Calculate the average math score for 12th grade in each school

average_math_score_12th_grade = merge[merge['grade'] == '12th'].groupby('school_name')['math_score'].mean()

print(average_math_score_12th_grade)

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [62]:
# Create table that lists the average reading score for each school of each grade level.
average_reading_score_by_grade = merge.groupby(['school_name', 'grade'])['reading_score'].mean()
print(average_reading_score_by_grade)

school_name            grade
Bailey High School     10th     80.907183
                       11th     80.945643
                       12th     80.912451
                       9th      81.303155
Cabrera High School    10th     84.253219
                       11th     83.788382
                       12th     84.287958
                       9th      83.676136
Figueroa High School   10th     81.408912
                       11th     80.640339
                       12th     81.384863
                       9th      81.198598
Ford High School       10th     81.262712
                       11th     80.403642
                       12th     80.662338
                       9th      80.632653
Griffin High School    10th     83.706897
                       11th     84.288089
                       12th     84.013699
                       9th      83.369193
Hernandez High School  10th     80.660147
                       11th     81.396140
                       12th     80.857143
                       9th      80.866860
Holden High School     10th     83.324561
                       11th     83.815534
                       12th     84.698795
                       9th      83.677165
Huang High School      10th     81.512386
                       11th     81.417476
                       12th     80.305983
                       9th      81.290284
Johnson High School    10th     80.773431
                       11th     80.616027
                       12th     81.227564
                       9th      81.260714
Pena High School       10th     83.612000
                       11th     84.335938
                       12th     84.591160
                       9th      83.807273
Rodriguez High School  10th     80.629808
                       11th     80.864811
                       12th     80.376426
                       9th      80.993127
Shelton High School    10th     83.441964
                       11th     84.373786
                       12th     82.781671
                       9th      84.122642
Thomas High School     10th     84.254157
                       11th     83.585542
                       12th     83.831361
                       9th      83.728850
Wilson High School     10th     84.021452
                       11th     83.764608
                       12th     84.317673
                       9th      83.939778
Wright High School     10th     83.812757
                       11th     84.156322
                       12th     84.073171
                       9th      83.833333
Name: reading_score, dtype: float64

In [64]:
# Calculate the average reading score for 9th grade in each school

average_reading_score_9th_grade = merge[merge['grade'] == '9th'].groupby('school_name')['reading_score'].mean()

print(average_reading_score_9th_grade)

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [66]:
# Calculate the average reading score for 10th grade in each school

average_reading_score_10th_grade = merge[merge['grade'] == '10th'].groupby('school_name')['reading_score'].mean()

print(average_reading_score_10th_grade)

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [68]:
# Calculate the average reading score for 11th grade in each school

average_reading_score_11th_grade = merge[merge['grade'] == '11th'].groupby('school_name')['reading_score'].mean()

print(average_reading_score_11th_grade)

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [70]:
# Calculate the average reading score for 12th grade in each school

average_reading_score_12th_grade = merge[merge['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

print(average_reading_score_12th_grade)

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

## Scores by School Spending

In [130]:
* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

SyntaxError: invalid syntax (1195954758.py, line 1)

In [132]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [134]:
# Create a new column to show budget per student in each row
budget_perstudent=merge.groupby('student_name')['budget_per_student'].value_counts()
print(budget_perstudent)

student_name    budget_per_student
Aaron Acosta    629.293541            1
Aaron Aguilar   629.293541            1
Aaron Anderson  629.293541            1
Aaron Atkinson  629.293541            1
Aaron Bailey    629.293541            1
                                     ..
Zoe Hawkins     629.293541            2
Zoe Henry       629.293541            1
Zoe Mayer       629.293541            1
Zoe Mcmillan    629.293541            1
Zoe Meyer       629.293541            1
Name: count, Length: 32715, dtype: int64

In [136]:
# Create a new column to define the spending ranges per student
#use cut()
merge['Spending_Range']= pd.cut(merge['budget_per_student'],spending_bins,group_names)


print(merge[['student_name', 'budget_per_student','Spending_Range']])

            student_name  budget_per_student Spending_Range
0           Paul Bradley          629.293541     (615, 645]
1           Victor Smith          629.293541     (615, 645]
2        Kevin Rodriguez          629.293541     (615, 645]
3      Dr. Richard Scott          629.293541     (615, 645]
4             Bonnie Ray          629.293541     (615, 645]
...                  ...                 ...            ...
39165       Donna Howard          629.293541     (615, 645]
39166          Dawn Bell          629.293541     (615, 645]
39167     Rebecca Tanner          629.293541     (615, 645]
39168       Desiree Kidd          629.293541     (615, 645]
39169    Carolyn Jackson          629.293541     (615, 645]

[39170 rows x 3 columns]

In [138]:
# Calculate the average math score within each spending range

merge['Spending_Range']= pd.cut(merge['budget_per_student'],spending_bins,group_names)


merge['average_mathscore']=merge['math_score'].mean()

print(merge[['Spending_Range','average_mathscore']])

      Spending_Range  average_mathscore
0         (615, 645]          78.985371
1         (615, 645]          78.985371
2         (615, 645]          78.985371
3         (615, 645]          78.985371
4         (615, 645]          78.985371
...              ...                ...
39165     (615, 645]          78.985371
39166     (615, 645]          78.985371
39167     (615, 645]          78.985371
39168     (615, 645]          78.985371
39169     (615, 645]          78.985371

[39170 rows x 2 columns]

In [140]:
# Calculate the percentage passing rate for math in each spending range

merge['Spending_Range']= pd.cut(merge['budget_per_student'],spending_bins,group_names)

merge['percentage_pass_math']=((merge['math_score']>=70).sum())/(total_students)*100

print(merge[['percentage_pass_math','Spending_Range']])

       percentage_pass_math Spending_Range
0                 74.980853     (615, 645]
1                 74.980853     (615, 645]
2                 74.980853     (615, 645]
3                 74.980853     (615, 645]
4                 74.980853     (615, 645]
...                     ...            ...
39165             74.980853     (615, 645]
39166             74.980853     (615, 645]
39167             74.980853     (615, 645]
39168             74.980853     (615, 645]
39169             74.980853     (615, 645]

[39170 rows x 2 columns]

In [142]:
# Calculate the percentage passing rate for reading in each spending range
merge['Spending_Range']= pd.cut(merge['budget_per_student'],spending_bins,group_names)

merge['percentage_pass_reading']=((merge['reading_score']>=70).sum())/(total_students)*100
print(merge[['percentage_pass_reading','Spending_Range']])

       percentage_pass_reading Spending_Range
0                    85.805463     (615, 645]
1                    85.805463     (615, 645]
2                    85.805463     (615, 645]
3                    85.805463     (615, 645]
4                    85.805463     (615, 645]
...                        ...            ...
39165                85.805463     (615, 645]
39166                85.805463     (615, 645]
39167                85.805463     (615, 645]
39168                85.805463     (615, 645]
39169                85.805463     (615, 645]

[39170 rows x 2 columns]

In [144]:
# Calculate the percentage overall passing rate in each spending range
merge['Spending_Range']= pd.cut(merge['budget_per_student'],spending_bins,group_names)
merge['overall_passing']=(math_avg + read_avg) / 2
print(overall_avg)
print(merge[['overall_passing','Spending_Range']])

80.43160582078121
       overall_passing Spending_Range
0            80.431606     (615, 645]
1            80.431606     (615, 645]
2            80.431606     (615, 645]
3            80.431606     (615, 645]
4            80.431606     (615, 645]
...                ...            ...
39165        80.431606     (615, 645]
39166        80.431606     (615, 645]
39167        80.431606     (615, 645]
39168        80.431606     (615, 645]
39169        80.431606     (615, 645]

[39170 rows x 2 columns]

### Scores by School Size

* Perform the same operations as above, based on school size.

In [148]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [150]:
# Create a new column for the bin groups
merge['size_range']=pd.cut(merge['size'],size_bins,group_names)

Look for the total count of test scores that pass 70% or higher

In [153]:
# math_pass_size
merge['size_range'] = pd.cut(merge['size'], size_bins, group_names)

passed_math =(merge[merge['math_score'] >= 70].groupby(['school_name','size_range']).size())
print(passed_math)

school_name            size_range
Bailey High School     (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    3318
Cabrera High School    (0, 1000]          0
                       (1000, 2000]    1749
                       (2000, 5000]       0
Figueroa High School   (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    1946
Ford High School       (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    1871
Griffin High School    (0, 1000]          0
                       (1000, 2000]    1371
                       (2000, 5000]       0
Hernandez High School  (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    3094
Holden High School     (0, 1000]        395
                       (1000, 2000]       0
                       (2000, 5000]       0
Huang High School      (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    1916
Johnson High School    (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    3145
Pena High School       (0, 1000]        910
                       (1000, 2000]       0
                       (2000, 5000]       0
Rodriguez High School  (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    2654
Shelton High School    (0, 1000]          0
                       (1000, 2000]    1653
                       (2000, 5000]       0
Thomas High School     (0, 1000]          0
                       (1000, 2000]    1525
                       (2000, 5000]       0
Wilson High School     (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    2143
Wright High School     (0, 1000]          0
                       (1000, 2000]    1680
                       (2000, 5000]       0
dtype: int64

/var/folders/sz/vjzx_ntj38v1_t2lkqpjprj40000gn/T/ipykernel_44789/2239927184.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  passed_math =(merge[merge['math_score'] >= 70].groupby(['school_name','size_range']).size())

In [155]:
# read_pass_size
merge['size_range'] = pd.cut(merge['size'], size_bins, group_names)

passed_reading =(merge[merge['reading_score'] >= 70].groupby(['school_name','size_range']).size())
print(passed_reading)

school_name            size_range
Bailey High School     (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    4077
Cabrera High School    (0, 1000]          0
                       (1000, 2000]    1803
                       (2000, 5000]       0
Figueroa High School   (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    2381
Ford High School       (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    2172
Griffin High School    (0, 1000]          0
                       (1000, 2000]    1426
                       (2000, 5000]       0
Hernandez High School  (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    3748
Holden High School     (0, 1000]        411
                       (1000, 2000]       0
                       (2000, 5000]       0
Huang High School      (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    2372
Johnson High School    (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    3867
Pena High School       (0, 1000]        923
                       (1000, 2000]       0
                       (2000, 5000]       0
Rodriguez High School  (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    3208
Shelton High School    (0, 1000]          0
                       (1000, 2000]    1688
                       (2000, 5000]       0
Thomas High School     (0, 1000]          0
                       (1000, 2000]    1591
                       (2000, 5000]       0
Wilson High School     (0, 1000]          0
                       (1000, 2000]       0
                       (2000, 5000]    2204
Wright High School     (0, 1000]          0
                       (1000, 2000]    1739
                       (2000, 5000]       0
dtype: int64

/var/folders/sz/vjzx_ntj38v1_t2lkqpjprj40000gn/T/ipykernel_44789/2479180406.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  passed_reading =(merge[merge['reading_score'] >= 70].groupby(['school_name','size_range']).size())

In [157]:
# Calculate the overall passing rate for different school size
merge['size_range'] = pd.cut(merge['size'], size_bins,group_names)
total_counts_by_size = merge.groupby('size_range').size()

passing_counts_by_size = merge[merge['math_score'] >= 70].groupby('size_range').size()

overall_results = ( passing_counts_by_size/ total_counts_by_size) * 100
print(overall_results)

size_range
(0, 1000]       93.952484
(1000, 2000]    93.616522
(2000, 5000]    68.652380
dtype: float64

/var/folders/sz/vjzx_ntj38v1_t2lkqpjprj40000gn/T/ipykernel_44789/4022257217.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  total_counts_by_size = merge.groupby('size_range').size()
/var/folders/sz/vjzx_ntj38v1_t2lkqpjprj40000gn/T/ipykernel_44789/4022257217.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  passing_counts_by_size = merge[merge['math_score'] >= 70].groupby('size_range').size()

### Scores by School Type

* Perform the same operations as above, based on school type.

In [161]:
# Create bins and groups, school type {'Charter', 'District'}

mathsizebins = [0,1872,3145]
groupnames = {"Charter (<1872)","District(1872-3145)"}

Find counts of the passing 70 or higher score for the both test

In [164]:
# math pass size

merge['School_Type'] = pd.cut(merge['math_score'],mathsizebins, groupnames)

passedmath =(merge[merge['math_score'] >= 70].groupby(['school_name','School_Type']).size())
print(passedmath)

school_name            School_Type
Bailey High School     (0, 1872]       3318
                       (1872, 3145]       0
Cabrera High School    (0, 1872]       1749
                       (1872, 3145]       0
Figueroa High School   (0, 1872]       1946
                       (1872, 3145]       0
Ford High School       (0, 1872]       1871
                       (1872, 3145]       0
Griffin High School    (0, 1872]       1371
                       (1872, 3145]       0
Hernandez High School  (0, 1872]       3094
                       (1872, 3145]       0
Holden High School     (0, 1872]        395
                       (1872, 3145]       0
Huang High School      (0, 1872]       1916
                       (1872, 3145]       0
Johnson High School    (0, 1872]       3145
                       (1872, 3145]       0
Pena High School       (0, 1872]        910
                       (1872, 3145]       0
Rodriguez High School  (0, 1872]       2654
                       (1872, 3145]       0
Shelton High School    (0, 1872]       1653
                       (1872, 3145]       0
Thomas High School     (0, 1872]       1525
                       (1872, 3145]       0
Wilson High School     (0, 1872]       2143
                       (1872, 3145]       0
Wright High School     (0, 1872]       1680
                       (1872, 3145]       0
dtype: int64

/var/folders/sz/vjzx_ntj38v1_t2lkqpjprj40000gn/T/ipykernel_44789/1746296353.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  passedmath =(merge[merge['math_score'] >= 70].groupby(['school_name','School_Type']).size())

In [166]:
# reading pass size
readsizebins = [0,1740,4077]
groupnames = {"Charter (<1740)","District(1740-4077)"}

merge['School_Type'] = pd.cut(merge['reading_score'],readsizebins, groupnames)

passedreading =(merge[merge['reading_score'] >= 70].groupby(['school_name','School_Type']).size())
print(passedreading)

school_name            School_Type
Bailey High School     (0, 1740]       4077
                       (1740, 4077]       0
Cabrera High School    (0, 1740]       1803
                       (1740, 4077]       0
Figueroa High School   (0, 1740]       2381
                       (1740, 4077]       0
Ford High School       (0, 1740]       2172
                       (1740, 4077]       0
Griffin High School    (0, 1740]       1426
                       (1740, 4077]       0
Hernandez High School  (0, 1740]       3748
                       (1740, 4077]       0
Holden High School     (0, 1740]        411
                       (1740, 4077]       0
Huang High School      (0, 1740]       2372
                       (1740, 4077]       0
Johnson High School    (0, 1740]       3867
                       (1740, 4077]       0
Pena High School       (0, 1740]        923
                       (1740, 4077]       0
Rodriguez High School  (0, 1740]       3208
                       (1740, 4077]       0
Shelton High School    (0, 1740]       1688
                       (1740, 4077]       0
Thomas High School     (0, 1740]       1591
                       (1740, 4077]       0
Wilson High School     (0, 1740]       2204
                       (1740, 4077]       0
Wright High School     (0, 1740]       1739
                       (1740, 4077]       0
dtype: int64

/var/folders/sz/vjzx_ntj38v1_t2lkqpjprj40000gn/T/ipykernel_44789/3476100325.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  passedreading =(merge[merge['reading_score'] >= 70].groupby(['school_name','School_Type']).size())

In [168]:
# Calculate the overall passing rate
total = merge.groupby('School_Type').size()
passed = merge[merge['math_score'] >= 70].groupby('School_Type').size()

passing_rate = (passed / total) * 100  

print(passing_rate)

School_Type
(0, 1740]       74.980853
(1740, 4077]          NaN
dtype: float64

/var/folders/sz/vjzx_ntj38v1_t2lkqpjprj40000gn/T/ipykernel_44789/1723640405.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  total = merge.groupby('School_Type').size()
/var/folders/sz/vjzx_ntj38v1_t2lkqpjprj40000gn/T/ipykernel_44789/1723640405.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  passed = merge[merge['math_score'] >= 70].groupby('School_Type').size()